    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Hesap Oluştur</h1>
                            </div>
                            <form class="user" #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input ngModel type="text" name="username" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Kullanıcı Adı" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input ngModel type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input ngModel type="password" name="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Şifre" required>
                                    </div>
                                </div>
                                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary btn-user btn-block">
                                    Kayıt Ol
                                </button>
                                <hr>
                            </form>
                            <div class="text-center">
                                <a class="small" [routerLink]="['/login']">Hesabın zaten var mı? Giriş Yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
